.chance {
    background:
        /*1920  769*/
        url("../assets/images/svg/chance/square.svg") 60.5% 59% no-repeat,
        url("../assets/images/svg/chance/line.svg") 68.5% 90% no-repeat,
        url("../assets/images/svg/chance/triangle.svg") 73.5% 72% no-repeat,
        url("../assets/images/svg/chance/line-pink.svg") 89.2% 33.3% no-repeat,
        linear-gradient(94.12deg, $blue 0%, $purple 100%);

    background-size:
        auto auto,
        auto auto,
        auto auto,
        auto auto;

    &__inner {
        padding-top: 80px;
        padding-left: 272px;

        @media #{$notebook} {
            padding-left: 150px;
        }

        @media #{$mobile} {
            padding-left: 0;
        }

        @media #{$mobile-sm} {
            padding-top: 49px;
        }
    }

    &__text {
        font-family: 'Montserrat-Medium', sans-serif;
        font-size: 5.6rem;
        line-height: 1.29;
        margin-bottom: 60px;
        max-width: 1184px;

        @media #{$notebook} {
            font-size: 4.6rem;
        }

        @media #{$mobile} {
            font-size: 3.6rem;
        }

        @media #{$mobile-sm} {
            font-size: 2.8rem;
            line-height: 1.36;
            margin-bottom: 32px;
        }
    }

    &__img {
        width: 486px;
        height: 336px;
        margin-bottom: 76px;

        @media #{$mobile-sm} {
            width: 244px;
            height: 169px;
            margin-bottom: 48px;
        }
    }

    @media #{$mobile-sm} {
        background-size:
            32px 32px,
            20px 20px,
            36px 36px,
            20px 20px,
            auto auto;

        background-position:
            100% 301px,
            91% 420px,
            79% 462px,
            93% 48px;
           
            



    }
}