.header {
    width: 100%;
    padding-top: 2.4rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zIndex;
    background-color: transparent;

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        @media #{$mobile} {
            justify-content: space-between;
        }

        @media #{$mobile-sm} {
            justify-content: flex-end;
        }
    }

    &__logo {

        @media #{$mobile-sm} {
            width: 75px;
            height: 25px;
            position: absolute;
            left: 17px;
            top: 16px;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }



    }
}