.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    max-height: 542px;
    background:
        url("../assets/images/svg/header/square-blue.svg") 84% 267px no-repeat,
        url("../assets/images/svg/header/line.svg") 90% 42px no-repeat, 
        url("../assets/images/svg/header/triangle-red.svg") 67% 49px no-repeat,
        url("../assets/images/svg/header/line.svg") 21% 276px no-repeat,
        url("../assets/images/svg/header/square-pink.svg") 13.3% 120px no-repeat,
        url("../assets/images/splash.jpg") center no-repeat;

    background-size:
        auto auto,
        auto auto,
        auto auto,
        auto auto,
        auto auto,
        cover;


    position: relative;
    padding-top: 129px;

    &__inner {
        width: 100%;
        max-width: 880px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        font-family: 'BalsamiqSans-Regular', sans-serif;
        font-size: 9.6rem;
        color: $white;

        @media #{$tablet} {
            font-size: 7.6rem;
            line-height: 1.2;
        }

        @media #{$mobile} {
            font-size: 5.6rem;

        }

        @media #{$mobile-sm} {
            font-size: 3.2rem;

        }
    }

    @media #{$tablet} {
        max-height: 455px;
    }

    @media #{$mobile-sm} {
        max-height: 307px;

        background-size:
        32px 32px,
        20px 20px,
        36px 36px,
        32px 32px,
        32px 32px,
        cover;

        background-position:
        99% 168px,
        97% 92px,
        71% 36px,
        21% 276px,
        0% 80px,
        center;

        padding-top: 101px;
        
    }
}