.rules {
    height: 1045px;
    background:
        /*1920  1045*/
        url("../assets/images/svg/rules/square-mini.svg") 7% 29% no-repeat,
        url("../assets/images/svg/rules/triangle.svg") 16.8% 79.8% no-repeat,
        url("../assets/images/svg/rules/line.svg") 53.5% 85% no-repeat,
        url("../assets/images/svg/rules/square.svg") 58.9% 25% no-repeat,
        url("../assets/images/svg/rules/line-right.svg") 94% 46% no-repeat;


    background-size:
        auto auto,
        auto auto,
        auto auto,
        auto auto,
        auto auto;

    &__inner {
        padding-top: 330px;
        padding-left: 272px;
        color: $black;
        display: flex;
        position: relative;

        @media #{$notebook} {
            padding-left: 150px;
        }

        @media #{$mobile} {
            padding-left: 0;
        }

        @media #{$mobile-sm} {
            padding-top: 257px;
        }
    }

    &__content {
        width: 555px;

        @media #{$mobile-sm} {
            width: 100%;
        }
    }

    &__title {
        font-size: 5.6rem;
        line-height: 1.2;
        margin-bottom: 4rem;
        position: relative;
        z-index: 1000;

        &:after {
            content: '';
            position: absolute;
            width: 308px;
            height: 12px;
            background-color: #FCEFB8;
            left: -102px;
            top: 18px;
            transform: rotate(-45deg);
            z-index: -1;

            @media #{$mobile-sm} {
                width: 220px;
                height: 6px;
                left: -45px;
                top: -4px;
            }

        }

        @media #{$mobile} {
            font-size: 4.6rem;
        }

        @media #{$mobile-sm} {
            font-size: 2.8rem;
            margin-bottom: 3rem;
        }
    }

    &__list {
        counter-reset: li;
        list-style: none;
        font-family: 'Montserrat-Regular', sans-serif;
        font-size: 2.4rem;
        padding: 0 0 0 56px;
        margin-bottom: 64px;

        @media #{$mobile-sm} {
            padding: 0 0 0 36px;
            margin-bottom: 37px;
        }
    }

    &__item {
        margin-bottom: 29.5px;
        position: relative;
        padding: 4.5px 0;
        font-size: 2.4rem;
        line-height: 1.2;

        &:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -2.4em;
            top: 3%;

            background: linear-gradient(90deg, $blueButton 0%, $purpleButton 100%);
            border-radius: 8px;
            height: 40px;
            width: 40px;
            line-height: 1.6em;
            text-align: center;
            font-weight: bold;
            color: $white;

            @media #{$mobile-sm} {
                left: -2.5em;
                width: 24px;
                height: 24px;
                border-radius: 6px;
                line-height: 1.8em;
            }
        }

        @media #{$mobile} {
            font-size: 2rem;
        }

        @media #{$mobile-sm} {
            font-size: 1.4rem;
            margin-bottom: 14px;
            line-height: 1.57;
        }
    }

    @media #{$mobile-sm} {
        padding-bottom: 80px;
        height: auto;


        background-size:
            24px 24px,
            32px 32px,
            24px 24px,
            24px 24px,
            24px 24px;

    }
}