
@font-face {
	font-family: 'BalsamiqSans-Regular';
	src: url('../assets/fonts/BalsamiqSans-Regular.eot');
	src: local('☺'), url('../assets/fonts/BalsamiqSans-Regular.woff') format('woff'), url('../assets/fonts/BalsamiqSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../assets/fonts/Montserrat-Medium.eot');
	src: local('☺'), url('../assets/fonts/Montserrat-Medium.woff') format('woff'), url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../assets/fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../assets/fonts/Montserrat-Regular.woff') format('woff'), url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('../assets/fonts/Montserrat-SemiBold.eot');
	src: local('☺'), url('../assets/fonts/Montserrat-SemiBold.woff') format('woff'), url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

