$white: #fff;
$black: #12284C;
$grey: #F3F4F6;
$grey_footer:#A0A9B7;

$blue: #72C0EC;
$purple: #9D5AE4;

$blueButton: #4690FF;
$purpleButton: #9966E0;



$zIndex: 1000;




/*@media*/
$mobile-sm:"(max-width:565px)";
$mobile:"(max-width:767px)";
$tablet:"(max-width:1023px)";
$notebook:"(max-width:1199px)";
$desktop:"(max-width:1300px)";
$scale:"(max-width:1550px)";
